	<!-- Footer -->
	<footer class="wc-footer" id="wc-footer">
		<div class="container">
		
			<!-- Footer Links -->
			<div class="wc-row wc-footer-row1" role="navigation">
				<div class="wc-footer-list-box">
					<h4 class="wc-list-header" id="footer-menu-1">About Whitman</h4>
					<ul class="wc-no-style-list" role="menu" aria-labelledby="footer-menu-1">
						<li role="menuitem"><a>Campus and Community</a></li>
						<li role="menuitem"><a>Campus Sustainability</a></li>
						<li role="menuitem"><a>Contact Us</a></li>
						<li role="menuitem"><a>Facilities</a></li>
						<li role="menuitem"><a>Fast Facts</a></li>
						<li role="menuitem"><a href="leadership-and-organization.html">Leadership and Organization</a></li>
						<li role="menuitem"><a>Offices and Services</a></li>
					</ul>
				</div>
				<div class="wc-footer-list-box">
					<h4 class="wc-list-header" id="footer-menu-2">Academics</h4>
					<ul class="wc-no-style-list" role="menu" aria-labelledby="footer-menu-2">
						<li role="menuitem"><a>Academic Calendar</a></li>
						<li role="menuitem"><a>Academic Support</a></li>
						<li role="menuitem"><a>Catalog</a></li>
						<li role="menuitem"><a href="departments.html">Departments and Programs</a></li>
						<li role="menuitem"><a>The Faculty</a></li>
						<li role="menuitem"><a>Liberal Arts Education</a></li>
						<li role="menuitem"><a>Penrose Library</a></li>
						<li role="menuitem"><a>Signature Programs</a></li>
					</ul>
				</div>
				<div class="wc-footer-list-box">
					<h4 class="wc-list-header" id="footer-menu-3">Admission & Aid</h4>
					<ul class="wc-no-style-list" role="menu" aria-labelledby="footer-menu-3">
						<li role="menuitem"><a>Apply</a></li>
						<li role="menuitem"><a>Contact Us</a></li>
						<li role="menuitem"><a>Financial Aid</a></li>
						<li role="menuitem"><a>Learn More</a></li>
						<li role="menuitem"><a>Request Information</a></li>
						<li role="menuitem"><a>Visit Whitman</a></li>
						<li role="menuitem"><a>Whitman on the Road</a></li>
						<li role="menuitem"><a>Why Whitman?</a></li>
					</ul>
				</div>
				<div class="wc-footer-list-box">
					<h4 class="wc-list-header" id="footer-menu-4">Student Life</h4>
					<ul class="wc-no-style-list" role="menu" aria-labelledby="footer-menu-4">
						<li role="menuitem"><a>Career Services</a></li>
						<li role="menuitem"><a>Club Sports and Intramurals</a></li>
						<li role="menuitem"><a>Green Life</a></li>
						<li role="menuitem"><a>Orientation</a></li>
						<li role="menuitem"><a>Living at Whitman</a></li>
						<li role="menuitem"><a>Student Activities</a></li>
						<li role="menuitem"><a>Student Clubs and Organizations</a></li>
						<li role="menuitem"><a>Student Services</a></li>
					</ul>
				</div>
				<div class="wc-footer-list-box">
					<h4 class="wc-list-header" id="footer-menu-5">Quick Links</h4>
					<ul class="wc-no-style-list" role="menu" aria-labelledby="footer-menu-5">
						<li role="menuitem"><a href="a-to-z-index.html">A to Z Index</a></li>
						<li role="menuitem"><a>Bookstore</a></li>
						<li role="menuitem"><a>Campus Map</a></li>
						<li role="menuitem"><a>Contact Us</a></li>
						<li role="menuitem"><a>Employment</a></li>
						<li role="menuitem"><a>Giving</a></li>
						<li role="menuitem"><a>Grievance and Sexual Misconduct Policy</a></li>
						<li role="menuitem"><a>Penrose Library</a></li>
						<li role="menuitem"><a>myWhitman</a></li>
						<li role="menuitem"><a>Right to Know</a></li>
					</ul>
				</div>
			</div>

			<!-- Logo -->
			<div class="wc-row wc-footer-row2">
				<div class="wc-footer-row2-box-a" itemscope itemtype="http://schema.org/CollegeOrUniversity" aria-labelledby="title">
					<hr />
					<svg class="wc-footer-logo-flat" viewbox= "0 0 180 15">
						<use xlink:href="images/svg/svg-defs.svg#logo-whitman-nc-flat"></use>
						<title id="title">Whitman College</title>
					</svg>
					<svg class="wc-footer-logo-stacked" viewbox= "0 0 164 60" aria-hidden="true">
						<use xlink:href="images/svg/svg-defs.svg#logo-whitman-nc-stacked"></use>
					</svg>
					<hr />
				</div>
			</div>


			<!-- Contact Info -->
			<div class="wc-row wc-footer-row3" itemscope itemtype="http://schema.org/CollegeOrUniversity">
				<div class="wc-footer-row3-box-a wc-footer-row3-box" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<a href="https://www.google.com/maps/place/Whitman+College/@46.0717833,-118.3304355,16z/data=!4m2!3m1!1s0x0000000000000000:0x8704a8d5077eb801" target="_blank" class="wc-street-address">
						<svg viewbox= "0 0 32 32">
							<use xlink:href="images/svg/svg-defs.svg#icon-map-pin"></use>
						</svg>
						<span class="wc-text">
							<span itemprop="streetAddress">345 Boyer Ave. </span>
							<span><span itemprop="addressLocality">Walla Walla</span>, <span itemprop="addressRegion">WA</span> <span itemprop="postalCode">99362</span></span>
						</span>
					</a>
				</div>
				<div class="wc-footer-row3-box-b wc-footer-row3-box">
					<span class="wc-phone-numbers">
						<svg viewbox= "0 0 32 32">
							<use xlink:href="images/svg/svg-defs.svg#icon-phone"></use>
						</svg>
						<span class="wc-text">
							<span>General: <span itemprop="telephone">(509) 527-5111</span></span>
							<span class="wc-bullet">&bull;</span>
							<span>Admission: <span itemprop="telephone">(509) 527-5176</span></span>
						</span>
					</span>
				</div>
				<div class="wc-footer-row3-box-c wc-footer-row3-box">
					<link itemprop="url" href="https://www.whitman.edu">
					<a title="Whitman College Facebook" itemprop="sameAs" class="wc-social-link" href="https://facebook.com/whitmancollege" target="_blank">
						<svg viewbox= "0 0 40 40">
							<use xlink:href="images/svg/svg-defs.svg#icon-facebook"></use>
						</svg>
					</a>
					<a title="Whitman College Twitter" itemprop="sameAs" class="wc-social-link" href="https://twitter.com/whitmancollege" target="_blank">
						<svg viewbox= "0 0 40 40">
							<use xlink:href="images/svg/svg-defs.svg#icon-twitter"></use>
						</svg>
					</a>
					<a title="Whitman College YouTube" itemprop="sameAs" class="wc-social-link" href="https://youtube.com/whitmancollege" target="_blank">
						<svg viewbox= "0 0 40 40">
							<use xlink:href="images/svg/svg-defs.svg#icon-youtube"></use>
						</svg>
					</a>
					<a title="Whitman College Instagram" itemprop="sameAs" class="wc-social-link" href="https://instagram.com/whitmancollege" target="_blank">
						<svg viewbox= "0 0 40 40">
							<use xlink:href="images/svg/svg-defs.svg#icon-instagram"></use>
						</svg>
					</a>
					<a href="social-links.html" title="More Social Media Links" class="wc-more-social-links">
						<svg viewbox= "0 0 32 32">
							<use xlink:href="images/svg/svg-defs.svg#icon-arrow-right"></use>
						</svg>
					</a>
				</div>
			</div>







			<div class="wc-row wc-footer-row4">
				<div class="wc-footer-row4-box-a" role="contentinfo">
					<span class="wc-copyright">© Whitman College</span>
				</div>
			</div>
		</div>
	</footer>
	<div class="wc-breakpoint-check-box">
		<div id="wc-breakpoint-check-lg" class="wc-breakpoint-check"></div>
		<div id="wc-breakpoint-check-md" class="wc-breakpoint-check"></div>
		<div id="wc-breakpoint-check-sm" class="wc-breakpoint-check"></div>
		<div id="wc-breakpoint-check-xs" class="wc-breakpoint-check"></div>		
	</div>
	<span id="wc-svg-path" data-svg-path="images/svg/svg-defs.svg"></span>
	<script id="wc-scripts-tag" src="js/wc-scripts.js" type="text/javascript"></script>	
</body>
</html>