<div div class="wc-mobile-breadcrumbs wc-collapsed" id="wc-mobile-breadcrumbs" role="navigation">
	<div class="wc-top-row">
		<a class="wc-home-button" href="index.html">
			<svg class="wc-icon" viewbox="0 0 32 32 "><use xlink:href="images/svg/svg-defs.svg#icon-home"></use></svg>
		</a>
		<a class="wc-close-button wc-collapse-button" data-target="#wc-mobile-breadcrumbs">
			<svg class="wc-icon wc-close-button" viewbox="0 0 32 32"><use xlink:href="images/svg/svg-defs.svg#icon-menu-x" /></svg>
		</a>
	</div>
	<a class="wc-ellipsis-link wc-collapse-button" data-target="#wc-mobile-breadcrumbs" >/ ... /</a>
	<div class="wc-link-divider">
		<svg class="wc-icon" viewbox="0 0 32 32"><use xlink:href="images/svg/svg-defs.svg#icon-arrow-down" /></svg>
	</div>
	<a class="wc-link">About Whitman</a>
	<div class="wc-link-divider">
		<svg class="wc-icon" viewbox="0 0 32 32"><use xlink:href="images/svg/svg-defs.svg#icon-arrow-down" /></svg>
	</div>
	<a class="wc-link">Whitman Dynamic Strategy & Messaging Culture</a>	
	<div class="wc-link-divider">
		<svg class="wc-icon" viewbox="0 0 32 32"><use xlink:href="images/svg/svg-defs.svg#icon-arrow-down" /></svg>
	</div>
	<span class="wc-current-page">Student Engagement Center</span>
</div>
<nav class="wc-section-nav" role="navigation">
	<!-- Section  Navigation -->

	<!-- <a href="#" class="wc-section-nav-heading">Art History and Visual Culture Studies</a> -->
	<a href="#" class="wc-section-nav-heading">Academics</a>
	<ul class="wc-section-nav-list" role="menubar">
		<li>
			<a class="wc-nav-link" href="/DssPreview/x36022.xml" title="Social Media Links - Test">Social Media Links</a>
		</li>
		<li>
			<a class="wc-nav-link" href="/DssPreview/x35964.xml" title="Detail Test">Detail Test <svg class="wc-icon wc-link-info-icon" viewbox="0 0 32 32">
			<use xlink:href="images/svg/svg-defs.svg#icon-external-link"></use></svg></a>
		</li>
		<li>
			<a class="wc-nav-link" href="/DssPreview/x35964.xml" title="Detail Test">A Login Required Link
				<svg class="wc-icon wc-link-info-icon" viewbox="0 0 32 32">
					<use xlink:href="images/svg/svg-defs.svg#icon-lock"></use>
				</svg>
			</a>
		</li>
		<li>
			<span aria-label="this aria label" class="wc-nav-link wc-nav-active-page" title="this title">Section Front Test 3</span>
		</li>
		<li>
			<a class="wc-nav-link wc-sub-nav-header" href="/DssPreview/x29368.xml" title="Mission Statement">Mission Statement</a> <button aria-controls="#wc-sub-nav_x29368" aria-expanded="false" class="wc-nav-expander collapsed" data-target="#wc-sub-nav_x29368" data-toggle="collapse"><svg viewbox="0 0 32 32">
			<use xlink:href="images/svg/svg-defs.svg#icon-arrow-down"></use></svg></button>
			<ul aria-expanded="false" aria-labelledby="section-sub-1" class="wc-section-nav-level-2 wc-sub-nav collapse" id="wc-sub-nav_x29368" role="menu">
				<li>
					<a class="wc-nav-link" href="/DssPreview/x2580.xml" title="Charter">Charter</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x2581.xml" title="Constitution">Constitution</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x2582.xml" title="By-Laws">By-Laws</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x2583.xml" title="Accreditation">Accreditation</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="wc-nav-link wc-sub-nav-header" href="/DssPreview/x2576.xml" title="Fast Facts">Fast Facts</a> <button aria-controls="#wc-sub-nav_x2576" aria-expanded="false" class="wc-nav-expander collapsed" data-target="#wc-sub-nav_x2576" data-toggle="collapse"><svg viewbox="0 0 32 32">
			<use xlink:href="images/svg/svg-defs.svg#icon-arrow-down"></use></svg></button>
			<ul aria-expanded="false" aria-labelledby="section-sub-1" class="wc-section-nav-level-2 wc-sub-nav collapse" id="wc-sub-nav_x2576" role="menu">
				<li>
					<a class="wc-nav-link" href="/DssPreview/x24232.xml" title="Rankings round-up">Rankings round-up</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="wc-nav-link" href="/DssPreview/x861.xml" title="Campus Map">Campus Map</a>
		</li>
		<li>
			<a class="wc-nav-link wc-sub-nav-header" href="/DssPreview/x2586.xml" title="Campus and Community">Campus and Community</a> <button aria-controls="#wc-sub-nav_x2586" aria-expanded="false" class="wc-nav-expander collapsed" data-target="#wc-sub-nav_x2586" data-toggle="collapse"><svg viewbox="0 0 32 32">
			<use xlink:href="images/svg/svg-defs.svg#icon-arrow-down"></use></svg></button>
			<ul aria-expanded="false" aria-labelledby="section-sub-1" class="wc-section-nav-level-2 wc-sub-nav collapse" id="wc-sub-nav_x2586" role="menu">
				<li>
					<a class="wc-nav-link" href="/DssPreview/x2589.xml" title="Walla Walla">Walla Walla</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x2590.xml" title="Visitor Information">Visitor Information</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x2598.xml" title="Weather">Weather</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x6517.xml" title="Webcams">Webcams</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="wc-nav-link wc-sub-nav-header" href="/DssPreview/x2577.xml" title="Whitman Hallmarks">Whitman Hallmarks</a> <button aria-controls="#wc-sub-nav_x2577" aria-expanded="false" class="wc-nav-expander collapsed" data-target="#wc-sub-nav_x2577" data-toggle="collapse"><svg viewbox="0 0 32 32">
			<use xlink:href="images/svg/svg-defs.svg#icon-arrow-down"></use></svg></button>
			<ul aria-expanded="false" aria-labelledby="section-sub-1" class="wc-section-nav-level-2 wc-sub-nav collapse" id="wc-sub-nav_x2577" role="menu">
				<li>
					<a class="wc-nav-link" href="/DssPreview/x2584.xml" title="Liberal Arts Education">Liberal Arts Education</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x2578.xml" title="History of the College">History of the College</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="wc-nav-link wc-sub-nav-header" href="/DssPreview/x32759.xml" title="Leadership and Organization">Leadership and Organization</a> <button aria-controls="#wc-sub-nav_x32759" aria-expanded="true" class="wc-nav-expander collapsed" data-target="#wc-sub-nav_x32759" data-toggle="collapse"><svg viewbox="0 0 32 32">
			<use xlink:href="images/svg/svg-defs.svg#icon-arrow-down"></use></svg></button>
			<ul aria-expanded="true" aria-labelledby="section-sub-1" class="wc-section-nav-level-2 wc-sub-nav collapse" id="wc-sub-nav_x32759" role="menu">
				<li>
					<a class="wc-nav-link" href="/DssPreview/x29104.xml" title="Officers of the College">Officers of the College</a>
				</li>
				<li>
					<a class="wc-nav-link wc-sub-nav-header" href="/DssPreview/x29209.xml" title="Governing Boards">Governing Boards</a> <button aria-controls="#wc-sub-nav_x29209" aria-expanded="true" class="wc-nav-expander" data-target="#wc-sub-nav_x29209" data-toggle="collapse"><svg viewbox="0 0 32 32">
					<use xlink:href="images/svg/svg-defs.svg#icon-arrow-down"></use></svg></button>
					<ul aria-expanded="true" aria-labelledby="section-sub-1" class="wc-section-nav-level-2 wc-sub-nav collapse in" id="wc-sub-nav_x29209" role="menu">
						<li>
							<a class="wc-nav-link" href="/DssPreview/x2613.xml" title="Trustees">Trustees</a>
						</li>
						<li>
							<a class="wc-nav-link" href="/DssPreview/x2614.xml" title="Overseers">Overseers</a>
						</li>
						<li>
							<a class="wc-nav-link" href="/DssPreview/x2616.xml" title="Committees">Committees</a>
						</li>
						<li>
							<a class="wc-nav-link" href="/DssPreview/x2617.xml" title="Governing Boards Calendar">Governing Boards Calendar</a>
						</li>
						<li>
							<a class="wc-nav-link" href="https://webapp.whitman.edu/boarddocs/" target="_blank" title="Governing Boards Materials">Governing Boards Materials</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x29103.xml" title="Academic Divisions">Academic Divisions</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x29102.xml" title="Organizational Charts">Organizational Charts</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="wc-nav-link" href="/DssPreview/x32850.xml" title="Contact Us">Contact Us</a>
		</li>
		<li>
			<a class="wc-nav-link wc-sub-nav-header" href="/DssPreview/x35970.xml" title="Profile Index Test">Really Long Submenu</a> <button aria-controls="#wc-sub-nav_x35970" aria-expanded="false" aria-label="Expand Profile Index Submenu" class="wc-nav-expander collapsed" data-target="#wc-sub-nav_x35970" data-toggle="collapse"><svg viewbox="0 0 32 32">
			<use xlink:href="images/svg/svg-defs.svg#icon-arrow-down"></use></svg></button>
			<ul aria-expanded="false" aria-labelledby="section-sub-1" class="wc-section-nav-level-2 wc-sub-nav collapse" id="wc-sub-nav_x35970" role="menu">
				<li>
					<a class="wc-nav-link" href="/DssPreview/x36017.xml" title="Everything Axample">Everything Axample</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x36015.xml" title="Nopage Alexander">Nopage Alexander</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x35971.xml" title="Sharon Alker">Sharon Alker</a>
				</li>
				<li></li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x36009.xml" title="Null Check">Null Check</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x35972.xml" title="Roberta Davidson">Roberta Davidson</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x35973.xml" title="Scott A Elliott">Scott A Elliott</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x35974.xml" title="Adam Gordon">Adam Gordon</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x35975.xml" title="Christopher Leise">Christopher Leise</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x35976.xml" title="Gaurav Majumdar">Gaurav Majumdar</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x35981.xml" title="Theresa M. DiPasquale">Theresa M. DiPasquale</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x35983.xml" title="Mary L. Raschko 6">Mary L. Raschko 6</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x35977.xml" title="Katrina C. Roberts">Katrina C. Roberts</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x35982.xml" title="Kisha Schlegel">Kisha Schlegel</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x35980.xml" title="Rob Schlegel">Rob Schlegel</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x35978.xml" title="Johanna Stoberock">Johanna Stoberock</a>
				</li>
				<li>
					<a class="wc-nav-link" href="/DssPreview/x35979.xml" title="Jenna Terry">Jenna Terry</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
