/**********************************
#LINKS-AND-BUTTONS

Notes
[1] 	Box button more link.
[2] 	Skip to main content link for accessibility, don't want this visible.
**********************************/
.wc-box-button.wc-bb-more-link{/*[1]*/
	display: block;
	float: right;
	@media(max-width:$screen-xs-max){
		width: 100%;
		float: none;
		clear:both;
	}
}
	.wc-quarter-content-column .wc-box-button.wc-bb-more-link{
		width: 100%;
		float: none;
		clear:both;
	}
	@media(min-width:$screen-md-min){
		.wc-half-component .wc-box-button.wc-bb-more-link, .wc-quarter-component .wc-box-button.wc-bb-more-link{
			width: 100%;
			float: none;
			clear:both;
		}
	}
a.wc-more-link,button.wc-more-link{
	@media(min-width:$screen-sm-min){
		@include button(22px, 1rem, $link-color, $link-hover-color, transparent, transparent, underline);
	}
	@media(max-width:$screen-xs-max){
		@include button(18px, 1rem, $link-color, $link-hover-color, transparent, transparent, underline);
	}
	display:block;
	float:right;
	.wc-text, svg{
		display: inline;
	}
}
.wc-content-wrap{
	a.wc-back-link{
		@media(min-width:$screen-sm-min){
			@include button(22px, 1rem, $white, $white,$medium-blue-2, $light-blue);
		}
		@media(max-width:$screen-xs-max){
			@include button(18px, 1rem, $white, $white,$medium-blue-2, $light-blue);
		}
		display:block;
		float:left;
		border-radius:14px;
		padding: 0 11px 2px 5px;

		&:hover{
			text-decoration: none;
		}
		&:focus{
			text-decoration: none;
		}
	}
}
.wc-header, .wc-footer{
	a.wc-more-link,button.wc-more-link{
		@media(min-width:$screen-sm-min){
			@include button(16px, .75rem, $white, $white, transparent, transparent, underline);
		}
		float: none;
	}
}

.wc-button-toggle{
	border:1px solid $dark-blue;
	overflow: hidden;
	padding:0;
	float:left;
	@include roundedCorners();
	display:flex;
	a{
		display:block;
		flex:auto;
		text-align: center;
		color:$dark-blue;
		font-size: 1rem;
		@include responsivePadding(.6rem 1rem,.4rem 1rem,.4rem 1rem,.4rem 1rem);
		margin:0;
		&.wc-toggled{
			background-color:$dark-blue;
			color:$white;
			cursor: default;
		}
		&:hover{
			text-decoration: none;
			&:not(.wc-toggled){
				background-color: $light-gray-2;
			}
		}
		&:focus{
			text-decoration: none;
		}
		&:not(:last-child){
			border-right:1px solid $dark-blue;
		}
	}
}
	.no-flexbox .wc-button-toggle{
		float:left;
		@include clearfix();
		a{
			display:block;
			float:left;
		}
	}
	.wc-link-info-icon{
		width: 18px;
		height: 18px;
		display: inline-block;
	}
	.wc-skip-to-content-link{ /*[2]*/
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow:hidden;
	}
.wc-more-text-button{
	color:$link-color;
	text-decoration: underline;
	display: inline;
	padding: 0;
}



	/**********************************
	#BOX-BUTTONS
	**********************************/
	.wc-box-button{
		font-weight:400;
		color:$medium-blue;
		border: 1px solid $medium-blue;
		text-align: center;
		display: inline-block;
		line-height: 1.3;
		@include responsiveFontSize(1.1em, 1.1em, 1.1em, 1.1em);
		@include responsivePadding(0.4rem 1.5rem,0.4rem 1rem,0.4rem 1rem,0.4rem 1rem);
		@include roundedCorners();
		&:hover{
			color: $white;
			background-color:$medium-blue;
		}
		&:hover, &:focus, &:active{
			text-decoration: none;
		}
		&.wc-small{
			@include responsivePadding(0.4rem 1rem,0.4rem 1rem,0.4rem 1rem,0.4rem 1rem);
		}
		&.wc-white{
			color:$white;
			border: 1px solid $white;
			&:hover{
				color:$medium-blue;
				background-color:$white; //was rgba(255,255,255,.3)
				text-shadow:none;
			}
		}
		&.wc-solid-button-a{
			color:$white;
			border: 1px solid $merlot;
			background-color: $merlot;
			&:hover{
				background-color: transparent;
				border: 1px solid $merlot;
				color: $merlot;
			}
		}
		&.wc-solid-button-b{
			color:$dark-gray;
			border: 1px solid $gold;
			background-color: $gold;
			&:hover{
				background-color: transparent;
				border: 1px solid $gold-dark;
			}
		}
		&.wc-solid-button-c{
			color:$white;
			border: 1px solid $forest-green;
			background-color: $forest-green;
			&:hover{
				background-color: transparent;
				border: 1px solid $forest-green;
				color: $forest-green;
			}
		}
	}

/**********************************
#TOGGLES

[1] 	For toggles that use the bootstrap collapse method
**********************************/
.wc-toggle{
	&:not(.wc-toggled){
		.wc-toggled-icon{
			width:0 !important;
			height:0 !important;
		}	
	}
	&.wc-toggled{
		.wc-not-toggled-icon{
			width:0 !important;
			height:0 !important;
		}	
	}
}
.wc-collapse-toggle{ /*[1]*/
	&:not(.collapsed){
		svg.wc-collapsed-icon{
			width:0 !important;
			height:0 !important;
		}	
	}
	&.collapsed{
		svg.wc-not-collapsed-icon{
			width:0 !important;
			height:0 !important;
		}	
	}
}

/**********************************
#MOBILE-FRIENDLY LINKS

Notes
[1] 	For basic text links and buttons. Padding obviously depends on them
		being display:block.
**********************************/
.wc-content-wrap a.wc-mobile-friendly, .wc-content-wrap .wc-mobile-friendly a{/*[1]*/
	@include responsiveFontSize(1.2rem,1.2rem,1rem,1rem);
	@include responsivePaddingTop(.8rem,.2rem,0,0);
	@include responsivePaddingBottom(.8rem,.2rem,0,0);
	svg{
		@include responsiveWidth(1.2rem,1.2rem, $default-icon-size,$default-icon-size);
		@include responsiveHeight(1.2rem,1.2rem, $default-icon-size,$default-icon-size);
	}
}
.wc-spin-button{
	@media(max-width:$screen-sm-max){
		@include button(28px,18px,$medium-blue,$light-blue);			
	}
	@media(min-width:$screen-md-min){
		@include button(22px,18px,$medium-blue,$light-blue);
	}
	padding:8px 0;
	display:block;
	float:right;
	transition: transform 1s;
	svg{
		display:block;
	}
	&:not(.collapsed){
		transform:rotate(90deg);
	}
}
.wc-text-spin-button{
	@media(max-width:$screen-sm-max){
		@include button(28px,18px,$medium-blue,$light-blue);			
	}
	@media(min-width:$screen-md-min){
		@include button(22px,18px,$medium-blue,$light-blue);
	}
	padding:8px 0;
	display:block;
	.wc-icon{
		transition: transform .5s;
	}
	&:not(.collapsed) .wc-icon{
		transform:rotate(180deg);
	}
}

/**********************************
#CUSTOM-RADIO-BUTTONS

Notes
[1][2]  Using z index and absolute positioning for .wc-radio-btn so it can be behind the label
		and we can then use label's hover state to change its color. Also .wc-radio-btn needs to 
		be after the label in the markup. If .wc-radio-btn was before the label we couldn't use
		the sibling selector (~) to highlight it when you hover over the label [3].
[3] 	When you hover over the label, highlight .wc-radio-btn
[4] 	Hide the actual radio button

**********************************/
.wc-radio-option-box{
	float:left;
	position: relative;
	padding-right: 1rem;
	margin-bottom: .5rem;
	z-index: 10; /*[1]*/

	input[type=radio]{ /*[4]*/
		height: 1px;
		width: 1px;
		display: block;
		position: absolute;
		visibility: hidden;
		left: 0;
		right: 0;
	}
	input[type=radio]:checked ~ .wc-radio-btn .wc-radio-btn-inner{
		opacity: 1;
	}
	label{
		cursor: pointer;
		display: block;
		font-weight: 600;
		padding-left: 2rem;
		&:hover{
	 		& ~ .wc-radio-btn{ /*[3]*/
				border: 2px solid #3298fe;
				.wc-radio-btn-inner{
					opacity: 1;
					background-color: #3298fe;
				}
			}
		}
	}
}
	.wc-radio-btn{/*[2]*/
		display: block;
		position: absolute;
		z-index: -10; 
		left: 0;
		top: 0;
		vertical-align: middle;
		height: 30px;
		width: 30px;
		margin-right: 2px;
		border: 2px solid $medium-blue;
		border-radius: 100%;
		cursor: pointer;
		&.wc-radio-btn-selected .wc-radio-btn-inner{
			opacity: 1;
		}
	}

	.wc-radio-btn-inner{
		opacity: 0;
		height: 18px;
		width: 18px;
		margin: 4px;
		background-color: $medium-blue;
		border-radius: 100%;
	}