/**********************************
#CHARTS

Info
	Styles for charts
**********************************/


.wc-chart-component{

	.wc-chart-box{
		// display: none;
		width:100%;
		float: left;
	}
	.wc-info-box{
		width: 50%;
		float: left;
	}
}
